<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">
<suite name="Suite Parallel" parallel="tests" thread-count="2">

    <test name="Testes">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>